body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
}

.btn-primary {
    --bs-btn-bg: #003370;
    --bs-btn-border-color: #003370;
}

.btn-outline-primary {
    --bs-btn-border-color: #003370;
    --bs-btn-hover-bg: #003370;
    --bs-btn-hover-border-color: #003370;
    --bs-btn-color: #003370;
}

.border-primary {
    border-color: #003370 !important;
}

.content {
    min-height: 65vh;
    width: 100%;
}

.profile-picture{
    object-fit: cover;     
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture-custom {
    width: 230px;
    height: 300px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.detail-description p {
    margin: 0px;
}

.image-overflow{
    width: 200px;          
    height: 200px;
    object-fit: cover;     
    overflow: hidden;
}

.font-small{
    font-size: 14px;
}

.font-smaller{
    font-size: 13px !important;
}

.profile-dot {
    width: 30px;
    text-align: center;
}

.image-small{
    width: 30px !important;
    height: 30px !important;
}

.image-medium{
    width: 45px !important;
    height: 45px !important;
}

.image-big{
    width: 60px !important;
    height: 60px !important;
}

label{
    font-size: 14px;
}

.form-control, .form-select{
    font-size: 13px;
}

.table-container {
    overflow-x: auto; 
    white-space: nowrap;
    width: 100%; 
}

.table {
    border-collapse: collapse; /* Optional: collapse cell borders */
}

.full-width-fixed-height {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
}

.note-editor .note-editable {
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    .content{
        margin: 0px !important;
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .content {
        padding: 0px 0px 15px 0px !important;
    }

    .card {
        width: 100% !important;
    }

    .container {
        padding: 0px !important;
        margin: 0px !important;
    }

    .page-head {
        padding: 10px 10px 0px 10px;
    }

    form {
        padding: 0px 10px 0px 10px !important;
    }

    .tab-pane {
        padding: 10px
    }

    .page-detail{
        padding: 10px;
    }
}

.footer {
  background-color: white;
  padding: 15px;
}

.ellipsis-readmore {
    cursor: pointer;
    color: #007bff; /* Adjust color to match your design */
    text-decoration: underline;
}

.page-link {
    font-size: 13px !important;
}